In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("TE_Result.csv")

In [5]:
df

   Student Name   TOC  SPOS   SPM  DBMS   CNS  Total  Percentage  Class
0           NaN   NaN   NaN   NaN   NaN   NaN    NaN         NaN    NaN
1             A  70.0  72.0  84.0  75.0  68.0  369.0        73.8    3.0
2             B  67.0  79.0  86.0  76.0  72.0  380.0        76.0    2.0
3             C  75.0  81.0  88.0  77.0  74.0  395.0        79.0    2.0
4             D  74.0  76.0  90.0  78.0  76.0  394.0        78.8    2.0
5             E  79.0  90.0  82.0  79.0  78.0  408.0        81.6    1.0
6             F  85.0  59.0  84.0  74.0  80.0  382.0        76.4    2.0
7             G  90.0  81.0  86.0  75.0  71.0  403.0        80.6    1.0
8             H  63.0  92.0  88.0  76.0  73.0  392.0        78.4    2.0
9             I  79.0  68.0  90.0  77.0  75.0  389.0        77.8    2.0
10            J  81.0  79.0  82.0  78.0  77.0  397.0        79.4    2.0
11            K  79.0  63.0  84.0  73.0  79.0  378.0        75.6    2.0
12            L  56.0  85.0  86.0  74.0  72.0  373.0        74.6    3.0
13            M  92.0  81.0  88.0  75.0  73.0  409.0        81.8    1.0
14            N  75.0  83.0  90.0  76.0  74.0  398.0        79.6    2.0
15            O  68.0  91.0  82.0  77.0  75.0  393.0        78.6    2.0
16            P  59.0  71.0  84.0  72.0  76.0  362.0        72.4    3.0
17            Q  80.0  78.0  86.0  73.0  82.0  399.0        79.8    2.0
18            R  82.0  84.0  88.0  74.0  64.0  392.0        78.4    2.0
19           S   76.0  74.0  90.0  75.0  91.0  406.0        81.2    1.0
20            T  90.0  88.0  82.0  76.0  85.0  421.0        84.2    1.0

In [14]:
percentageGroup = df.groupby('Percentage')

In [15]:
percentageGroup.describe().max()

TOC    count      2.000000
       mean      92.000000
       std       13.435029
       min       92.000000
       25%       92.000000
       50%       92.000000
       75%       92.000000
       max       92.000000
SPOS   count      2.000000
       mean      91.000000
       std        5.656854
       min       91.000000
       25%       91.000000
       50%       91.000000
       75%       91.000000
       max       92.000000
SPM    count      2.000000
       mean      90.000000
       std        0.000000
       min       90.000000
       25%       90.000000
       50%       90.000000
       75%       90.000000
       max       90.000000
DBMS   count      2.000000
       mean      79.000000
       std        1.414214
       min       79.000000
       25%       79.000000
       50%       79.000000
       75%       79.000000
       max       79.000000
CNS    count      2.000000
       mean      91.000000
       std        6.363961
       min       91.000000
       25%       91.000000
       50%       91.000000
       75%       91.000000
       max       91.000000
Total  count      2.000000
       mean     421.000000
       std        0.000000
       min      421.000000
       25%      421.000000
       50%      421.000000
       75%      421.000000
       max      421.000000
Class  count      2.000000
       mean       3.000000
       std        0.000000
       min        3.000000
       25%        3.000000
       50%        3.000000
       75%        3.000000
       max        3.000000
dtype: float64

In [ ]:
percentageGroup